<div class="row">
<div class="col-3"></div>
<div class="col-6">
<ul *ngIf="student" class="list-group">
  <li class="list-group-item"><h4>{{ student.name | uppercase }} Details</h4></li>
  <li class="list-group-item">{{ student.id }}</li>
  <li class="list-group-item">
  <label>
	<input type="text" [(ngModel)]='student.name'/>
  </label>
  </li>
</ul>
</div>
<div class="col-3"></div>
</div>
