/*--------------*ngFor-----------------------------
tr.odd{
	background-color:gray;
	color:white;
}
tr.even{
	background-color:yellow;
	color:black;
}
tr.first{
	font-size:12px;
}
tr.last{
	font-size:12px;
}
------------------*ngFor------------------------*/