

<h1>{{title}}</h1>
<nav>
  <a routerLink="/students">Student-List</a>
</nav>


<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink=''>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='contact'>Contact</a>
  </li>
</ul> -->

<!------ReactiveForm 1 --------------------
<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
	<label>
	First Name:
	<input type="text" formControlName="fname">
	</label>
	<label>
	Last Name:
	<input type="text" formControlName="lname">
	</label>
	<button>Submit</button>
</form>
-------------ReactiveForm 1 --------------------------------->
<!----------------------Reactive Form 2------------------
<div class="row mt-4">
<div class="col-3"></div>
<div class="col-6 bg-light p-5 shadow shadow-sm">
<form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
	<div class="">
	<label>First Name:</label>
	<input type="text" formControlName="fname" class="form-control" required>
	<div *ngIf="formElements.fname.errors && submitted" class="alert alert-danger">
		<div *ngIf="formElements.fname.errors.required">
		Name is required.
		</div>
	</div> 
	
	</div>
	<div>
	<label>Last Name:</label>
	<input type="text" formControlName="lname" class="form-control" required>
	<div *ngIf="formElements.lname.errors && submitted"
    class="alert alert-danger">
		<div *ngIf="formElements.lname.errors.required">
		Last Name is required.
		</div>
	</div>
	
	</div>
	<div>
	<label>pin code:</label>
	<input type="text" formControlName="pinCode" class="form-control" required>
	<div *ngIf="formElements.pinCode.errors && submitted"
    class="alert alert-danger">
		<div *ngIf="formElements.pinCode.errors.required">
		Pin code is required.
		</div>
		<div *ngIf="formElements.pinCode.errors.minLength">
		minimum 6 length is required.
		</div>
	</div>
	</div>
	<div class="">
	<button id="btnSubmit" class="form-control w-50 bg-primary text-light mx-auto mt-2">Submit</button>
	</div>
</form>
</div>
<div class="col-3"></div>
</div>
<!-----------------------Reactive form 2-------------------------------->
<!-------------Template-driven form---------
<form #frm="ngForm" (ngSubmit)="getData(frm.value)">
	<input type="text" name="txtfname" ngModel>
	<input type="text" name="txtlname" ngModel>
	<button>Submit</button>
</form>
<!--Template-driven Form---------------->
<!--*1*-two way data binding without ngModel--
 <input type="text" [id]="myId" value="Monika"> 
<!------two way data binding without ngModel------------->


<!----two way data binding using ngModel for this you have to import FormsModule in app.module.ts from '@angular/forms'---------
<input type="text" [(ngModel)]="innerText">{{innerText}}
<!--two way data binding using ngModel------------------*1*------>

<!--*2*---------------------*ngFor-------------------------
<table>
	<tr>
		<th>Sr.No.</th>
		<th>Name</th>
		<th>Is Online?</th>
	</tr>
	<tr *ngFor="let sister of Sisters; let sindex = index;let firstRecord=first;let lastRecord=last;let evenRecord=even;let oddRecord=odd" [ngClass]="{odd:oddRecord, even:evenRecord, first:firstRecord, last:lastRecord }">
		<td>{{sindex + 1}}</td>
		<td>{{sister.name}}</td>
		<td>{{sister.IsOnline}}</td>
		
	</tr>
</table>
----------------------------*ngFor-------------------*2*----->
<!----*3*-----------------component communication-----
<div>{{message}}</div>
<app-child (childEvent)="message=$event" [parentData]="name"></app-child>
<!---------------------------------component communication-----------*3*-->

<!---*4*-------------Pipes-------
<div>
	{{ message | lowercase }}<br>
	{{ message | uppercase }}<br>
	{{ message | titlecase }}<br>
	{{ message | slice:5 }}<br>
	{{ message | slice:5:7 }}<br>
	{{ data | json }}<br>
	{{ 25 | number:'2.2-3' }}<br>
	{{ 25.347 | number:'2.1-2' }}<br>
	{{ 0.25 | percent }}<br>
	{{ 25 | currency:'EUR' }}<br>
	<!--{{2 | exponentialStrenth:10 }}--custom pipe--
	
</div>
<!---*4*-------------Pipes---------------*4*--->

<router-outlet></router-outlet>
