<div class="text-center"><h5 class="text-primary">Student List</h5></div>
<table class="table table-striped w-50 mx-auto mt-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let student of students" [class.selected]="student === selectedStudent">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td (click)="onSelect(student)">Details</td>
    </tr> -->
	
	<tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td><a routerLink="/details/{{ student.id }}">Details</a></td>
    </tr>
  </tbody>
</table>
<!--<app-student-details [student]="selectedStudent"></app-student-details>-->