<!------component communication--
<p>
  {{"Hello " + parentData}}<br>
  {{"Hello " + nameC}}<!--nameC is alias name--
</p>
<button (click)="fireEvent()">Send Event</button>
<!------------------component communication-------->